
$fontColor : #1D1D1D;
$backColor : #CFD4CE;
$cardColor : #FBF8F3;


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $fontColor;
    background-color: $backColor;
    font-family: 'Montserrat', sans-serif;
}


.mainContainer{
    &_left{margin: 3vh 0 3vh 2vw}
    &_center{margin: 3vh 1vw 3vh 1vw; .boxTop{display: flex; height: 6vh; margin-bottom: 1.5vh;} }
    &_right{margin: 3vh 2vw 3vh 0}
}

.mainStart{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: $cardColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
        width: 100px;
        height: 100px;
        background-color: transparent
    }
    h1{
        background-color: transparent;
    }
    input{
        width: 70%;
        height: 30px;
        background-color: transparent;
        border: 1px solid $fontColor;
        padding: 5px;
        &:focus{
            outline: none;
            border: 1px solid darken($backColor, 10);
        }
    }
    button{
        width: 20%;
        height: 40px;
        border: none;
        cursor: pointer;
        background-color: lighten($fontColor, 20);
        color: $cardColor;
        &:hover{
            background-color: lighten($fontColor, 30);
        }
        &:active{
            background-color: $backColor;
            
        }
    }
}
.copyright{
    font-size: 12px;
    font-weight: 500;
    

}

@import '../components/calculator/calculator';
@import '../components/calendar/calendar';
@import '../components/menu/menu';
@import '../components/musique/musique';
@import '../components/time/time';
@import '../components/topbar/topbar';
@import '../components/weather/weather';
@import '../components/quiz/quiz';
@import '../components/tiktaktoe/tik';
@import '../components/memory/memory';
@import '../components/todo/todo';

