.css-cwhad8-MuiDateCalendar-root{
    width: 100% !important;
    height: 25vh !important;
    max-height: none !important;
    background-color: $cardColor !important;
    margin: 20px auto !important;
}



div, button, span, svg{
    background-color: transparent;
}